* { box-sizing: border-box; }

@font-face {
    font-family: 'Dosis', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Rubik:300')
    }

img { max-width: 100%;
      justify-content: left; }

html {font-size: 100%;}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #A3F7B5;
  color: #30474C;
}

.row {
  overflow: auto;
  margin-bottom: 16px;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

@media screen and (min-width: 600px) {
  [class*="col-"] {
  
  }

.col-6  
  [class*="col-"] {
   width: 50%;
    float: left;
  }
}

body { background-color: #a3f7b5; }

.wrapper {
  margin: 2rem auto;
  max-width: 56.25rem;
}

header {
  background-color: #40c9a2;
}

header .flex-parent {
  display: flex;
  flex-direction: column;
  
  @media screen and (min-width: 50rem) {
    flex-direction: row;
    justify-content: space-between; 
  }
  
}

header .flex-child 
  nav {
    list-style: none;}
    ul {
    list-style: none;
      li {
        list-style: none;
       
        @media screen and (min-width: 50rem) {
          display: inline;
        }
        
        // Style your anchor elements.
        a {
          display: block;
          padding: 1rem;
          
          @media screen and (min-width: 50rem) {
            display: inline-block;
          }
        }
      }
    }
  }
}

