* { box-sizing: border-box; }

@font-face {
    font-family: 'Dosis', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Rubik:300')
    }

@font-face {
  font-family: 'brandico', sans-serif;
  src: url(http://weloveiconfonts.com/api/?family=brandico);
}

    * Social Buttons */

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

li.social-button a.brandico-twitter-bird {
  font-family: brandico;
  background-color: #71D78A;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  color: white;
  text-align: center;
  margin: 21px;
}

li.social-button a.brandico-facebook {
  font-family: brandico;
  background-color:  #8AD770;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  color: white;
  text-align: center;
  margin: 21px;
}

li.social-button a.brandico-instagram {
  font-family: brandico;
  background-color: #70D7BD;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  color: white;
  text-align: center;
  margin: 21px;
}


li.social-button a.brandico-linkedin {
  font-family: brandico;
  background-color: #70BDD6;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  color: white;
  text-align: center;
  margin: 21px;
}

li.social-button:hover {
    transform: translateY(-10px);
}


li.bullet {
   font-family: Brandico, sans-serif;
   color: #8d8d90;
   margin-left: 30px;
   line-height: 25px;
   list-style-type: disc;
    list-style-position: inside;
    text-indent: -30px;
    padding-left: 1em;
}

   /* end social */  


img {  
  
  max-width: 100%;
    height: auto; 
    }

html {font-size: 100%;}

body {
  font-family: 'Rubik', sans-serif;
  color: #30474C;
  /*background-color: #A3F7B5;*/
}

.row {
  overflow: auto;
  width: 100%;
  margin-bottom: 16px;
}

/*.row::after {
    content: "";
    clear: both;*/
   
}

[class*="col-"] {
  width: 100%;
}

@media screen and (min-width: 600px) {
  [class*="col-"] {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  }

}

a {
  color: #A3F7B5;
  /*something is weird here, they all display as active?*/
 }

a:hover { 
 
  color: white;
 
 }

 
.wrapper {
  margin: 2rem auto;
 /* max-width: 56.25rem; */
}

header {
  background-color: #40c9a2;
}

header .flex-parent {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 50rem) {
  header .flex-parent {
    flex-direction: row;
    justify-content: space-between;
  }
}

header .flex-child {
 margin-left: 1.5rem;
 margin-right: 1.5rem;

}
@media screen and (min-width: 50rem) {
  header .flex-child nav ul li {
    display: inline;
  }
}
header .flex-child nav ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
   padding: .2rem;

}

@media screen and (min-width: 50rem) {
  header .flex-child nav ul li a {
    display: inline-block;
    padding: 1rem;
    
  }
}
