* { box-sizing: border-box; }

img { max-width: 100%; }

.row {
  overflow: auto;
  margin-bottom: 16px;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
  padding: 16px;
  width: 100%;
}

@media screen and (min-width: 600px) {
  [class*="col-"] {
  
  }

  .col-6 {width: 50%;}

  [class*="col-"] {
    float: left;
  }
}





